
.vs/BRB_BCSV/DesignTimeBuild/.dtbcache.v2
.vs/BRB_BCSV/v16/.suo
.vs/BRB_BCSV/v17/.futdcache.v2
.vs/BRB_BCSV/v17/.suo
.vs/ProjectEvaluation/brb_bcsv.metadata.v6.1
.vs/ProjectEvaluation/brb_bcsv.projects.v6.1
